    <div class="container todo_container">
        
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Noticias </h1>                       
            </div>
        </div>
        <!-- /.row -->

        <ol class="breadcrumb">
            <li>
                <i class="fa fa fa-tasks"></i> <a ui-sref="app.noticias.cadastro" style="color:#000;">
                    Clique aqui para cadastrar uma nova noticia</a>
            </li>                            
        </ol>

         <div class="row">
             <div class="col-lg-12">
                 <div ng-repeat="noticia in noticias" class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h3 ng-bind="noticia.titulo"></h3>
                                <button class="btn btn-primary" ng-click="editarNoticia(noticia)"><i class="fa fa-pencil"></i></button>
                            </div>
                            <div class="panel-body">
                                <p ng-bind="noticia.conteudo"></p>
                            </div>
                        </div>
                    </div>
		        </div>
             </div>
         </div>	
   

       
    </div>
    <!-- /.container -->