.more_familias { float: right;  cursor: pointer;}
.botao_top { margin-top: -19%;}
.botao_top_1{ margin-top: -25%;}
.cor_vermelha {   color: #ff0000;}
.cor_verde{color:#5cb85c;}
.trashh{margin-right:29px;}
