.logo {
    position: relative;
    margin: -13% 0% 0% 4%;
}

.upper-nav{
    position: fixed;
    width: 100%;
}

.main-content{
    margin-left: 14%;
    padding-top: 6%;
    //width: 70%;
   
}

@media only screen and (max-width : 320px) {
  .nav_especial{
  margin-left: 68%;
  margin-top: -5%;
  }

  .main-content{
    margin-top: 57%;   
	}

}



@media(min-width: 970px){

}


// col-xs- celular	.col-sm- tablets	.col-md- desktops	.col-lg- desktops grandes
// injector
// endinjector