.modal-header, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
.modal-header h4{
    position: relative;
    width: 130px;
    font-size: 23px;
    margin: 6% 0% 0% 55%;    
}
.modal-content{
  margin-top: 4%;
}



// injector
// endinjector